
head
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css")
  meta(charset="UTF-8")

  style
    include style.css
body
  script(src="https://unpkg.com/vue@^3")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js")

  #app.container-fluid.justify-content-center.p-0
    .row-fluid
      transition-group(:duration='1000' name='list')
        template(v-for="(slide, n) in slides")
          div(:key='n' v-if='isRendered(n)' v-show='isVisible(n)' class='list-item')
            iframe(:src='slide.url' title=`Carousel pannel` type='text/html')
              p Your browser does not support iframes.

  script
    include ../config.js
    include index.js